name: Check, test and release
on:
  push:
  pull_request:
  schedule:
  - cron: '0 7 * * 1'  # M H d m w (Mondays at 7:00)

env:
  MLEM_TESTS: "true"

jobs:
  check:
    if: startsWith(github.ref, 'refs/tags') || github.event_name == 'pull_request' || github.event_name == 'schedule' || github.repository_owner != 'iterative'
    name: Check
    runs-on: ubuntu-latest
    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.9.1
      with:
        access_token: ${{ github.token }}
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: actions/setup-python@v2
    - name: set PYSHA
      run: echo "PYSHA=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV
    - uses: actions/cache@v1
      with:
        path: ~/.cache/pre-commit
        key: pre-commit|${{ env.PYSHA }}|${{ hashFiles('.pre-commit-config.yaml') }}
    - run: pip install -U pre-commit tox
    - run: SKIP=pylint pre-commit run -a --show-diff-on-failure
  test:
    if: startsWith(github.ref, 'refs/tags') || github.event_name == 'pull_request' || github.event_name == 'schedule' || github.repository_owner != 'iterative'
    name: Test ${{ matrix.os }} with py${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]  # TODO: add windows-latest
        python: ["3.7", "3.8", "3.9"]
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: get pip cache dir
      id: pip-cache-dir
      run: |
        echo "::set-output name=dir::$(pip cache dir)"
    - name: set pip cache
      id: pip-cache
      uses: actions/cache@v2.1.6
      with:
        path: ${{ steps.pip-cache-dir.outputs.dir }}
        key: ${{ runner.os }}-pip-${{ hashFiles('setup.cfg') }}
        restore-keys: |
          ${{ runner.os }}-pip-
#     - name: Install Mac-specific dependencies
#       if: matrix.os == 'macos-latest'
#       run: |
#         brew install hdf5 wget c-blosc
#         wget https://raw.githubusercontent.com/Homebrew/homebrew-core/fb8323f2b170bd4ae97e1bac9bf3e2983af3fdb0/Formula/libomp.rb
#         brew install ./libomp.rb
    # legacy-resolver makes install faster by order of magnitude
    - name: Install
      if: steps.cache.pip-cache-dir.cache-hit != 'true'
      run: |
        pip install --upgrade pip setuptools wheel
        pip install pre-commit .[tests] --use-deprecated=legacy-resolver
    - name: Run tests
      timeout-minutes: 30
      run: |
        git config --global user.email "olivaw@iterative.ai"
        git config --global user.name "Olivaw"
        pytest
#       env:
#         GITHUB_USERNAME: ${{ secrets.GH_USERNAME }}
#         GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
    - run: pre-commit run pylint -a --show-diff-on-failure
    - name: "Upload coverage to Codecov"
      uses: codecov/codecov-action@v1
      with:
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
