name: Check, test and release
on:
  push:
    branches:
    - main
  pull_request:
  release:
    types:
    - published
  schedule:
  - cron: '0 7 * * 1'  # M H d m w (Mondays at 7:00)
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: ["3.9", "3.10", "3.11", "3.12", "3.13"]

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python }}
        cache: 'pip'
        cache-dependency-path: 'pyproject.toml'

    - run: pip install .[dev]
    - uses: pre-commit/action@v3.0.1
    - run: pytest

    - name: "Upload coverage to Codecov"
      uses: codecov/codecov-action@v4
      with:
        fail_ci_if_error: false
        token: ${{ secrets.CODECOV_TOKEN }}

  deploy:
    name: PyPI Deploy
    environment:
      name: pypi
      url: https://pypi.org/p/gto
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - uses: actions/setup-python@v6
      with:
        python-version: '3.13'

    - run: pip install build twine
    - run: python -m build
    - run: twine check --strict dist/*
    - if: github.event_name == 'release'
      uses: pypa/gh-action-pypi-publish@release/v1
